In [7]:
import pandas as pd
import numpy as np

In [8]:
divorce = pd.read_csv('divorce.csv')

In [9]:
divorce['year']
divorce.rename(columns={'HS_3544': 'HS'}, inplace=True)

# Loop through column names and update to delete the characters after the underscore
for column in divorce.columns:
    
    if '_' in column:
        new_column_name = column.split('_')[0]
        divorce.rename(columns={column: new_column_name}, inplace=True)

In [10]:
divorce.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
divorce['date'] = pd.to_datetime(divorce['date'])

In [20]:
divorce = divorce.loc[:, ~divorce.columns.duplicated()]
divorce

,year,date,all,HS,SC,BAp,BAo,GD,poor,mid,rich
0,1960,1960-01-01,0.034445,0.034889,0.033669,0.027513,0.027513,NaN,0.071951,0.021225,0.022562
1,1970,1970-01-01,0.049256,0.050000,0.048705,0.041259,0.041259,NaN,0.113736,0.030301,0.021927
2,1980,1980-01-01,0.106005,0.104151,0.112699,0.097772,0.097772,NaN,0.241647,0.073672,0.035015
3,1990,1990-01-01,0.150805,0.159381,0.169670,0.114955,0.118534,0.109145,0.326948,0.111910,0.049725
4,2000,2000-01-01,0.156841,0.175446,0.173803,0.105618,0.110540,0.095903,0.343089,0.116584,0.049395
5,2001,2001-01-01,0.157306,0.174116,0.178169,0.107039,0.111861,0.097197,0.342836,0.122781,0.040574
6,2002,2002-01-01,0.156508,0.174769,0.179294,0.103442,0.109690,0.090763,0.341088,0.119926,0.038796
7,2003,2003-01-01,0.153844,0.172545,0.176975,0.102550,0.110683,0.086385,0.333105,0.121047,0.039262
8,2004,2004-01-01,0.154841,0.177565,0.177080,0.100337,0.105990,0.089114,0.334328,0.121930,0.036796
9,2005,2005-01-01,0.152920,0.175164,0.176743,0.099481,0.107115,0.084992,0.329074,0.122404,0.037071
10,2006,2006-01-01,0.161890,0.189437,0.184121,0.103835,0.110858,0.090503,0.337167,0.126109,0.057895
11,2007,2007-01-01,0.160469,0.187216,0.184961,0.103929,0.111882,0.089050,0.335230,0.122209,0.058169
12,2008,2008-01-01,0.161159,0.188377,0.189450,0.102019,0.111153,0.085194,0.333739,0.124718,0.060336
13,2009,2009-01-01,0.160493,0.186988,0.190136,0.101943,0.111839,0.084393,0.330015,0.124684,0.059975
14,2010,2010-01-01,0.163651,0.189896,0.197269,0.103064,0.111632,0.088167,0.328724,0.133820,0.057761
15,2011,2011-01-01,0.166303,0.192399,0.200459,0.107761,0.117284,0.091883,0.329541,0.138364,0.058814
16,2012,2012-01-01,0.165486,0.190206,0.203176,0.107407,0.115292,0.094314,0.331560,0.133077,0.056355

In [25]:

# Fill NaN with the mean of the column named GD
divorce['GD'].fillna(divorce['GD'].mean(), inplace=True)
divorce

,year,date,all,HS,SC,BAp,BAo,GD,poor,mid,rich
0,1960,1960-01-01,0.034445,0.034889,0.033669,0.027513,0.027513,0.091215,0.071951,0.021225,0.022562
1,1970,1970-01-01,0.049256,0.050000,0.048705,0.041259,0.041259,0.091215,0.113736,0.030301,0.021927
2,1980,1980-01-01,0.106005,0.104151,0.112699,0.097772,0.097772,0.091215,0.241647,0.073672,0.035015
3,1990,1990-01-01,0.150805,0.159381,0.169670,0.114955,0.118534,0.109145,0.326948,0.111910,0.049725
4,2000,2000-01-01,0.156841,0.175446,0.173803,0.105618,0.110540,0.095903,0.343089,0.116584,0.049395
5,2001,2001-01-01,0.157306,0.174116,0.178169,0.107039,0.111861,0.097197,0.342836,0.122781,0.040574
6,2002,2002-01-01,0.156508,0.174769,0.179294,0.103442,0.109690,0.090763,0.341088,0.119926,0.038796
7,2003,2003-01-01,0.153844,0.172545,0.176975,0.102550,0.110683,0.086385,0.333105,0.121047,0.039262
8,2004,2004-01-01,0.154841,0.177565,0.177080,0.100337,0.105990,0.089114,0.334328,0.121930,0.036796
9,2005,2005-01-01,0.152920,0.175164,0.176743,0.099481,0.107115,0.084992,0.329074,0.122404,0.037071
10,2006,2006-01-01,0.161890,0.189437,0.184121,0.103835,0.110858,0.090503,0.337167,0.126109,0.057895
11,2007,2007-01-01,0.160469,0.187216,0.184961,0.103929,0.111882,0.089050,0.335230,0.122209,0.058169
12,2008,2008-01-01,0.161159,0.188377,0.189450,0.102019,0.111153,0.085194,0.333739,0.124718,0.060336
13,2009,2009-01-01,0.160493,0.186988,0.190136,0.101943,0.111839,0.084393,0.330015,0.124684,0.059975
14,2010,2010-01-01,0.163651,0.189896,0.197269,0.103064,0.111632,0.088167,0.328724,0.133820,0.057761
15,2011,2011-01-01,0.166303,0.192399,0.200459,0.107761,0.117284,0.091883,0.329541,0.138364,0.058814
16,2012,2012-01-01,0.165486,0.190206,0.203176,0.107407,0.115292,0.094314,0.331560,0.133077,0.056355

In [31]:
divorce.columns.str.upper()
divorce

,year,date,all,HS,SC,BAp,BAo,GD,poor,mid,rich
0,1960,1960-01-01,0.034445,0.034889,0.033669,0.027513,0.027513,0.091215,0.071951,0.021225,0.022562
1,1970,1970-01-01,0.049256,0.050000,0.048705,0.041259,0.041259,0.091215,0.113736,0.030301,0.021927
2,1980,1980-01-01,0.106005,0.104151,0.112699,0.097772,0.097772,0.091215,0.241647,0.073672,0.035015
3,1990,1990-01-01,0.150805,0.159381,0.169670,0.114955,0.118534,0.109145,0.326948,0.111910,0.049725
4,2000,2000-01-01,0.156841,0.175446,0.173803,0.105618,0.110540,0.095903,0.343089,0.116584,0.049395
5,2001,2001-01-01,0.157306,0.174116,0.178169,0.107039,0.111861,0.097197,0.342836,0.122781,0.040574
6,2002,2002-01-01,0.156508,0.174769,0.179294,0.103442,0.109690,0.090763,0.341088,0.119926,0.038796
7,2003,2003-01-01,0.153844,0.172545,0.176975,0.102550,0.110683,0.086385,0.333105,0.121047,0.039262
8,2004,2004-01-01,0.154841,0.177565,0.177080,0.100337,0.105990,0.089114,0.334328,0.121930,0.036796
9,2005,2005-01-01,0.152920,0.175164,0.176743,0.099481,0.107115,0.084992,0.329074,0.122404,0.037071
10,2006,2006-01-01,0.161890,0.189437,0.184121,0.103835,0.110858,0.090503,0.337167,0.126109,0.057895
11,2007,2007-01-01,0.160469,0.187216,0.184961,0.103929,0.111882,0.089050,0.335230,0.122209,0.058169
12,2008,2008-01-01,0.161159,0.188377,0.189450,0.102019,0.111153,0.085194,0.333739,0.124718,0.060336
13,2009,2009-01-01,0.160493,0.186988,0.190136,0.101943,0.111839,0.084393,0.330015,0.124684,0.059975
14,2010,2010-01-01,0.163651,0.189896,0.197269,0.103064,0.111632,0.088167,0.328724,0.133820,0.057761
15,2011,2011-01-01,0.166303,0.192399,0.200459,0.107761,0.117284,0.091883,0.329541,0.138364,0.058814
16,2012,2012-01-01,0.165486,0.190206,0.203176,0.107407,0.115292,0.094314,0.331560,0.133077,0.056355

In [37]:
column_name_mapping = {
    old_name: old_name.upper()
      for old_name in divorce.columns
    }
column_name_mapping

{'YEAR': 'YEAR',
 'DATE': 'DATE',
 'ALL': 'ALL',
 'HS': 'HS',
 'SC': 'SC',
 'BAP': 'BAP',
 'BAO': 'BAO',
 'GD': 'GD',
 'POOR': 'POOR',
 'MID': 'MID',
 'RICH': 'RICH'}

In [38]:
divorce.rename(columns=column_name_mapping, inplace=True)
divorce

,YEAR,DATE,ALL,HS,SC,BAP,BAO,GD,POOR,MID,RICH
0,1960,1960-01-01,0.034445,0.034889,0.033669,0.027513,0.027513,0.091215,0.071951,0.021225,0.022562
1,1970,1970-01-01,0.049256,0.050000,0.048705,0.041259,0.041259,0.091215,0.113736,0.030301,0.021927
2,1980,1980-01-01,0.106005,0.104151,0.112699,0.097772,0.097772,0.091215,0.241647,0.073672,0.035015
3,1990,1990-01-01,0.150805,0.159381,0.169670,0.114955,0.118534,0.109145,0.326948,0.111910,0.049725
4,2000,2000-01-01,0.156841,0.175446,0.173803,0.105618,0.110540,0.095903,0.343089,0.116584,0.049395
5,2001,2001-01-01,0.157306,0.174116,0.178169,0.107039,0.111861,0.097197,0.342836,0.122781,0.040574
6,2002,2002-01-01,0.156508,0.174769,0.179294,0.103442,0.109690,0.090763,0.341088,0.119926,0.038796
7,2003,2003-01-01,0.153844,0.172545,0.176975,0.102550,0.110683,0.086385,0.333105,0.121047,0.039262
8,2004,2004-01-01,0.154841,0.177565,0.177080,0.100337,0.105990,0.089114,0.334328,0.121930,0.036796
9,2005,2005-01-01,0.152920,0.175164,0.176743,0.099481,0.107115,0.084992,0.329074,0.122404,0.037071
10,2006,2006-01-01,0.161890,0.189437,0.184121,0.103835,0.110858,0.090503,0.337167,0.126109,0.057895
11,2007,2007-01-01,0.160469,0.187216,0.184961,0.103929,0.111882,0.089050,0.335230,0.122209,0.058169
12,2008,2008-01-01,0.161159,0.188377,0.189450,0.102019,0.111153,0.085194,0.333739,0.124718,0.060336
13,2009,2009-01-01,0.160493,0.186988,0.190136,0.101943,0.111839,0.084393,0.330015,0.124684,0.059975
14,2010,2010-01-01,0.163651,0.189896,0.197269,0.103064,0.111632,0.088167,0.328724,0.133820,0.057761
15,2011,2011-01-01,0.166303,0.192399,0.200459,0.107761,0.117284,0.091883,0.329541,0.138364,0.058814
16,2012,2012-01-01,0.165486,0.190206,0.203176,0.107407,0.115292,0.094314,0.331560,0.133077,0.056355

In [44]:
divorce.to_csv('./Results/divorce_cleaned.csv', index=False)
divorce['INDEX'] = range(1, len(divorce) + 1)
divorce = divorce[['INDEX'] + [col for col in divorce.columns if col != 'INDEX']]

In [45]:
divorce

,INDEX,YEAR,DATE,ALL,HS,SC,BAP,BAO,GD,POOR,MID,RICH
0,1,1960,1960-01-01,0.034445,0.034889,0.033669,0.027513,0.027513,0.091215,0.071951,0.021225,0.022562
1,2,1970,1970-01-01,0.049256,0.050000,0.048705,0.041259,0.041259,0.091215,0.113736,0.030301,0.021927
2,3,1980,1980-01-01,0.106005,0.104151,0.112699,0.097772,0.097772,0.091215,0.241647,0.073672,0.035015
3,4,1990,1990-01-01,0.150805,0.159381,0.169670,0.114955,0.118534,0.109145,0.326948,0.111910,0.049725
4,5,2000,2000-01-01,0.156841,0.175446,0.173803,0.105618,0.110540,0.095903,0.343089,0.116584,0.049395
5,6,2001,2001-01-01,0.157306,0.174116,0.178169,0.107039,0.111861,0.097197,0.342836,0.122781,0.040574
6,7,2002,2002-01-01,0.156508,0.174769,0.179294,0.103442,0.109690,0.090763,0.341088,0.119926,0.038796
7,8,2003,2003-01-01,0.153844,0.172545,0.176975,0.102550,0.110683,0.086385,0.333105,0.121047,0.039262
8,9,2004,2004-01-01,0.154841,0.177565,0.177080,0.100337,0.105990,0.089114,0.334328,0.121930,0.036796
9,10,2005,2005-01-01,0.152920,0.175164,0.176743,0.099481,0.107115,0.084992,0.329074,0.122404,0.037071
10,11,2006,2006-01-01,0.161890,0.189437,0.184121,0.103835,0.110858,0.090503,0.337167,0.126109,0.057895
11,12,2007,2007-01-01,0.160469,0.187216,0.184961,0.103929,0.111882,0.089050,0.335230,0.122209,0.058169
12,13,2008,2008-01-01,0.161159,0.188377,0.189450,0.102019,0.111153,0.085194,0.333739,0.124718,0.060336
13,14,2009,2009-01-01,0.160493,0.186988,0.190136,0.101943,0.111839,0.084393,0.330015,0.124684,0.059975
14,15,2010,2010-01-01,0.163651,0.189896,0.197269,0.103064,0.111632,0.088167,0.328724,0.133820,0.057761
15,16,2011,2011-01-01,0.166303,0.192399,0.200459,0.107761,0.117284,0.091883,0.329541,0.138364,0.058814
16,17,2012,2012-01-01,0.165486,0.190206,0.203176,0.107407,0.115292,0.094314,0.331560,0.133077,0.056355